<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onRequest" fire="\QUI\ERP\Order\Guest\EventHandler::onRequest"/>
    <event on="onUserGet" fire="\QUI\ERP\Order\Guest\EventHandler::onUserGet"/>
    <event on="onUserGetBySession" fire="\QUI\ERP\Order\Guest\EventHandler::onUserGetBySession"/>
    <event on="onQuiqqerOrderProcessStepsEnd" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderProcessStepsEnd"/>
    <event on="onQuiqqerOrderClear" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderClear"/>
    <event on="onOrderProcessGetOrder" fire="\QUI\ERP\Order\Guest\EventHandler::onOrderProcessGetOrder"/>

    <event on="onQuiqqerOrderProcessSendCreateOrder" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderProcessSendCreateOrder"/>
    <event on="onQuiqqerOrderProcessSend" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderProcessSend"/>
    <event on="onQuiqqerOrderProcessingStart" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderProcessSend"/>
    <event on="onQuiqqerOrderCreated" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerOrderCreated"/>

    <event on="onQuiqqerSimpleCheckoutBodyEnd" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerSimpleCheckoutBodyEnd"/>
    <event on="onQuiqqerSimpleCheckoutValidation" fire="\QUI\ERP\Order\Guest\EventHandler::onQuiqqerSimpleCheckoutValidation"/>

    <event on="onQuiqqer::order::orderProcessCheckoutEnd" fire="\QUI\ERP\Order\Guest\EventHandler::extendCheckout"/>
    <event on="onQuiqqer::order::mail::orderConfirmation::end" fire="\QUI\ERP\Order\Guest\EventHandler::extendMail"/>
</events>
