parameters:
	ignoreErrors:
		-
			message: "#^Call to method post\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Call to method sendTo\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Call to static method getMissingAddressData\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Utils\\\\Invoice\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Call to static method getMissingAttributeMessage\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Utils\\\\Invoice\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Invoice not found\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\InvoiceTemporary not found\\.$#"
			count: 1
			path: ajax/frontend/submitCustomerData.php

		-
			message: "#^Call to static method getMissingAddressData\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Utils\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/Controls/MissingAddressData.php

		-
			message: "#^Call to an undefined method QUI\\\\ERP\\\\Order\\\\AbstractOrder\\:\\:save\\(\\)\\.$#"
			count: 2
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Site\\:\\:getUrlRewrittenWithHost\\(\\)\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:getGuestOrderId\\(\\)\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Call to static method getMissingAddressData\\(\\) on an unknown class QUI\\\\ERP\\\\Accounting\\\\Invoice\\\\Utils\\\\Invoice\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Class QUI\\\\ERP\\\\Shipping\\\\Order\\\\Shipping not found\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Method QUI\\\\ERP\\\\Order\\\\Guest\\\\EventHandler\\:\\:extendMail\\(\\) with return type void returns null but should not return anything\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Method QUI\\\\ERP\\\\Order\\\\Guest\\\\EventHandler\\:\\:onOrderProcessGetOrder\\(\\) should return QUI\\\\ERP\\\\Order\\\\OrderInProcess\\|null but returns QUI\\\\ERP\\\\Order\\\\Order\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Method QUI\\\\ERP\\\\Order\\\\Guest\\\\EventHandler\\:\\:onQuiqqerOrderClear\\(\\) with return type void returns null but should not return anything\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/EventHandler.php

		-
			message: "#^Parameter \\#1 \\$code of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:activate\\(\\) expects string, false given\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/GuestOrder.php

		-
			message: "#^Parameter \\#1 \\$groupId of method QUI\\\\Interfaces\\\\Users\\\\User\\:\\:addToGroup\\(\\) expects int, string given\\.$#"
			count: 2
			path: src/QUI/ERP/Order/Guest/GuestOrder.php

		-
			message: "#^Parameter \\#2 \\$User of class QUI\\\\ERP\\\\Address constructor expects QUI\\\\ERP\\\\User\\|null, \\$this\\(QUI\\\\ERP\\\\Order\\\\Guest\\\\GuestOrderUser\\) given\\.$#"
			count: 1
			path: src/QUI/ERP/Order/Guest/GuestOrderUser.php
